In [19]:
import pandas as pd 
pay_bill = pd.read_csv('C:/Users/87327/Desktop/Foundation of Analytics/final project/credit_record.csv')
pay_bill

              ID  MONTHS_BALANCE STATUS
0        5001711               0      X
1        5001711              -1      0
2        5001711              -2      0
3        5001711              -3      0
4        5001712               0      C
...          ...             ...    ...
1048570  5150487             -25      C
1048571  5150487             -26      C
1048572  5150487             -27      C
1048573  5150487             -28      C
1048574  5150487             -29      C

[1048575 rows x 3 columns]

In [47]:
credit = pay_bill[["ID","STATUS"]].groupby('ID')
index = []
CREDIT_LEVEL = []
good_status = ['C']
bad_status_1 = ["0"]
bad_status = ['1', '2', '3', '4', '5']
unused_status = ['X']

for i in credit:
    if all(i[1]["STATUS"].isin(unused_status)):
        CREDIT_LEVEL.append(0)
        index.append(i)

credit_unused = pd.DataFrame({"ID":index, "LEVELS":CREDIT_LEVEL})
credit_unused["LEVELS"].value_counts()

LEVELS
0    4536
Name: count, dtype: int64

In [60]:
bill_used = pay_bill[pay_bill["STATUS"] != "X"]
bill_used = bill_used[["ID","STATUS"]].groupby('ID')
for i in bill_used:
    print(i[1])
    break

        ID STATUS
1  5001711      0
2  5001711      0
3  5001711      0

In [57]:
good_status = ['C']
bad_status_1 = ["0"]
bad_status = ['1', '2', '3', '4', '5']
unused_status = ['X']

# all(i[1]["STATUS"]).isin(good_status)

index = []
CREDIT_LEVEL = []
for i in bill_used:
    index.append(i[0])

    if ((i[1]["STATUS"].isin(good_status)).sum() >= 0.7 * len(i[1]["STATUS"])):
        CREDIT_LEVEL.append(1)

    else:
        CREDIT_LEVEL.append(-1)

In [61]:
credit

            ID  LEVELS
0      5001711      -1
1      5001712      -1
2      5001717      -1
3      5001718      -1
4      5001719       1
...        ...     ...
41444  5150480       1
41445  5150482      -1
41446  5150484      -1
41447  5150485      -1
41448  5150487       1

[41449 rows x 2 columns]

In [70]:
credit = pd.DataFrame({"ID":index, "LEVELS":CREDIT_LEVEL})
credit["LEVELS"].value_counts()

LEVELS
-1    29402
 1    12047
Name: count, dtype: int64

In [21]:
def credit_decision(df):
    '''Determine for a given df, if the client is good, bad or unused status according to the credit usage.'''
    good_status = ['C']
    bad_status = ['0', '1', '2', '3', '4', '5']
    unused_status = ['X']
    # df = df.groupby('ID').apply(lambda x: 1 if all(x['STATUS'].isin(good_status)) else 0 if any(x['STATUS'].isin(bad_status)) else -1)
    df["CREDIT_STATUS"] = df[["ID","STATUS"]].groupby('ID').apply(criterion(df, good_status, bad_status, unused_status))
    '''1: pay bill on time
    0: pay bill late
    -1: unused status'''
    return df.reset_index().rename(columns={0:'CREDIT_STATUS'})

In [22]:
pay_bill = credit_decision(pay_bill)
pay_bill

TypeError: 'int' object is not callable

In [ ]:
pay_bill['CREDIT_STATUS'].value_counts()

CREDIT_STATUS
 0    40032
-1     5522
 1      431
Name: count, dtype: int64