In [20]:
import pandas as pd 
pay_bill = pd.read_csv('data/credit_record.csv')
pay_bill

              ID  MONTHS_BALANCE STATUS
0        5001711               0      X
1        5001711              -1      0
2        5001711              -2      0
3        5001711              -3      0
4        5001712               0      C
...          ...             ...    ...
1048570  5150487             -25      C
1048571  5150487             -26      C
1048572  5150487             -27      C
1048573  5150487             -28      C
1048574  5150487             -29      C

[1048575 rows x 3 columns]

In [21]:
def credit_decision(df):
    '''Determine for a given df, if the client is good, bad or unused status according to the credit usage.'''
    good_status = ['C']
    bad_status = ['0', '1', '2', '3', '4', '5']
    unused_status = ['X']
    df = df.groupby('ID').apply(lambda x: 1 if all(x['STATUS'].isin(good_status)) else 0 if any(x['STATUS'].isin(bad_status)) else -1)
    '''1: pay bill on time
    0: pay bill late
    -1: unused status'''
    return df.reset_index().rename(columns={0:'CREDIT_STATUS'})

In [22]:
pay_bill = credit_decision(pay_bill)
pay_bill

            ID  CREDIT_STATUS
0      5001711              0
1      5001712              0
2      5001713             -1
3      5001714             -1
4      5001715             -1
...        ...            ...
45980  5150482              0
45981  5150483             -1
45982  5150484              0
45983  5150485              0
45984  5150487              1

[45985 rows x 2 columns]

In [24]:
pay_bill['CREDIT_STATUS'].value_counts()

CREDIT_STATUS
 0    40032
-1     5522
 1      431
Name: count, dtype: int64