In [5]:
import numpy as np
import pandas as pd

AHP = pd.read_csv("../data/credit_scores_AHP.csv")
Logistics = pd.read_csv("../data/credit_scores_Logistic.csv")

In [6]:
display(AHP.describe())

                 ID  credit_scores  scaled_credit_scores
count  3.645700e+04   36457.000000          36457.000000
mean   5.078227e+06       0.182842              7.911534
std    4.187524e+04       0.205181              4.701733
min    5.008804e+06      -0.162413              0.000000
25%    5.042028e+06       0.083289              5.630276
50%    5.074614e+06       0.149912              7.156931
75%    5.115396e+06       0.312427             10.880970
max    5.150487e+06       4.201539            100.000000

In [7]:
display(Logistics.describe())

                 ID  credit_scores  scaled_credit_scores
count  3.645700e+04   36457.000000          36457.000000
mean   5.078227e+06       0.102892              6.581065
std    4.187524e+04       0.080086              5.191307
min    5.008804e+06       0.001366              0.000000
25%    5.042028e+06       0.048865              3.078930
50%    5.074614e+06       0.082338              5.248690
75%    5.115396e+06       0.138461              8.886708
max    5.150487e+06       1.544063            100.000000

In [8]:
from sklearn.metrics import mean_squared_error
MSE = mean_squared_error(AHP["scaled_credit_scores"], Logistics["scaled_credit_scores"])

# MSE = np.mean((AHP["scaled_credit_scores"] - Logistics["scaled_credit_scores"]) ** 2)

RMSE = np.sqrt(MSE)

print("The RMSE between the credit score of AHP model and Logistic model is: {}".format(RMSE))

The RMSE between the credit score of AHP model and Logistic model is: 6.8176962730222535