In [2]:
import pandas as pd 
import numpy as np

df = pd.read_csv('../data/final_df_2.csv')
ID = df["ID"]
df.drop(['ID','workclass'], axis=1, inplace=True)
df

,NAME_EDUCATION_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_FAMILY_STATUS,DAYS_EMPLOYED,age,occupation,capital,hours-per-week,credit_decision
0,Higher education,M,Y,Y,427500.0,Working,Civil marriage,-4542,36.332433,Sales,509.390789,39.454320,1
1,Higher education,M,Y,Y,427500.0,Working,Civil marriage,-4542,36.332433,Sales,509.390789,39.454320,1
2,Secondary / secondary special,M,Y,Y,112500.0,Working,Married,-1134,38.135474,Sales,440.541682,39.552563,-1
3,Secondary / secondary special,F,N,Y,270000.0,Commercial associate,Single / not married,-3051,38.135474,Craft-repair,440.541682,39.552563,-1
4,Secondary / secondary special,F,N,Y,270000.0,Commercial associate,Single / not married,-3051,38.135474,Craft-repair,440.541682,39.552563,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,Secondary / secondary special,M,Y,Y,315000.0,Working,Married,-2420,38.135474,Sales,440.541682,39.552563,-1
36453,Higher education,F,N,Y,157500.0,Commercial associate,Married,-1325,36.332433,Adm-clerical,509.390789,39.454320,-1
36454,Higher education,F,N,Y,157500.0,Pensioner,Married,-1325,36.332433,Sales,509.390789,39.454320,-1
36455,Secondary / secondary special,F,N,Y,283500.0,Working,Married,-655,38.135474,Craft-repair,440.541682,39.552563,-1
36456,Secondary / secondary special,M,N,Y,112500.0,Working,Single / not married,-1193,38.135474,Adm-clerical,440.541682,39.552563,-1

In [3]:
df.describe()

,AMT_INCOME_TOTAL,DAYS_EMPLOYED,age,capital,hours-per-week,credit_decision
count,3.645700e+04,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000
mean,1.866857e+05,59262.935568,37.741861,458.925574,39.520893,-0.403654
std,1.017892e+05,137651.334859,1.246129,75.056820,0.144082,0.863295
min,2.700000e+04,-15713.000000,36.332433,228.913438,38.736077,-1.000000
25%,1.215000e+05,-3153.000000,36.332433,440.541682,39.454320,-1.000000
50%,1.575000e+05,-1552.000000,38.135474,440.541682,39.552563,-1.000000
75%,2.250000e+05,-408.000000,38.135474,509.390789,39.552563,1.000000
max,1.575000e+06,365243.000000,47.083535,2635.633013,43.297761,1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36457 entries, 0 to 36456
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAME_EDUCATION_TYPE  36457 non-null  object
 1   CODE_GENDER          36457 non-null  object
 2   FLAG_OWN_CAR         36457 non-null  object
 3   FLAG_OWN_REALTY      36457 non-null  object
 4   AMT_INCOME_TOTAL     36457 non-null  float64
 5   NAME_INCOME_TYPE     36457 non-null  object
 6   NAME_FAMILY_STATUS   36457 non-null  object
 7   DAYS_EMPLOYED        36457 non-null  int64
 8   age                  36457 non-null  float64
 9   occupation           36457 non-null  object
 10  capital              36457 non-null  float64
 11  hours-per-week       36457 non-null  float64
 12  credit_decision      36457 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 3.6+ MB

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
y = df['credit_decision']
df.drop(['credit_decision'],axis=1,inplace=True)
for col in df.columns:
    if df[col].dtype != 'object':
        df[col] = scaler.fit_transform(df[[col]])
    else:
        df_dummy = pd.get_dummies(df[col],drop_first=True,prefix=col).astype(int)
        df = pd.concat([df,df_dummy],axis=1)
        df.drop(col,axis=1,inplace=True)
df

,AMT_INCOME_TOTAL,DAYS_EMPLOYED,age,capital,hours-per-week,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,CODE_GENDER_M,FLAG_OWN_CAR_Y,...,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Single / not married,NAME_FAMILY_STATUS_Widow,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Machine-op-inspct,occupation_Other-service,occupation_Prof-specialty,occupation_Sales
0,2.365845,-0.463532,-1.131061,0.672369,-0.462054,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
1,2.365845,-0.463532,-1.131061,0.672369,-0.462054,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
2,-0.728827,-0.438774,0.315873,-0.244936,0.219806,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
3,0.818509,-0.452700,0.315873,-0.244936,0.219806,0,0,1,0,0,...,0,1,0,1,0,0,0,0,0,0
4,0.818509,-0.452700,0.315873,-0.244936,0.219806,0,0,1,0,0,...,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,1.260605,-0.448116,0.315873,-0.244936,0.219806,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
36453,-0.286731,-0.440161,-1.131061,0.672369,-0.462054,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36454,-0.286731,-0.440161,-1.131061,0.672369,-0.462054,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
36455,0.951138,-0.435294,0.315873,-0.244936,0.219806,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
36456,-0.728827,-0.439202,0.315873,-0.244936,0.219806,0,0,1,1,0,...,0,1,0,0,0,0,0,0,0,0

In [6]:
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

# 创建随机欠采样器
ros = SMOTE(random_state=42)

# 重采样
df_res, y_res = ros.fit_resample(df, y)
df_res.shape, y_res.shape

((71739, 26), (71739,))

In [7]:
# Colinearity check
pd.set_option('display.float_format', '{:.2f}'.format)
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif_data = pd.DataFrame()
df_filtered = df_res.filter(regex='^(?!NAME_EDUCATION_TYPE).*$')
vif_data["feature"] = df_filtered.columns
vif_data["VIF"] = [variance_inflation_factor(df_filtered.values, i)
                          for i in range(len(df_filtered.columns))]
vif_data.sort_values(by="VIF", ascending=False)

                                    feature   VIF
8                NAME_INCOME_TYPE_Pensioner 87.74
1                             DAYS_EMPLOYED 77.70
12               NAME_FAMILY_STATUS_Married  8.06
3                                   capital  3.65
4                            hours-per-week  3.18
11                 NAME_INCOME_TYPE_Working  3.18
7                         FLAG_OWN_REALTY_Y  3.00
14  NAME_FAMILY_STATUS_Single / not married  2.29
16                  occupation_Craft-repair  2.19
2                                       age  2.01
6                            FLAG_OWN_CAR_Y  1.97
20                 occupation_Other-service  1.89
5                             CODE_GENDER_M  1.82
22                         occupation_Sales  1.72
13             NAME_FAMILY_STATUS_Separated  1.54
15                 NAME_FAMILY_STATUS_Widow  1.45
19             occupation_Machine-op-inspct  1.37
17               occupation_Exec-managerial  1.36
9            NAME_INCOME_TYPE_State servant  1.31
18               occupation_Farming-fishing  1.26
21                occupation_Prof-specialty  1.25
0                          AMT_INCOME_TOTAL  1.17
10                 NAME_INCOME_TYPE_Student  1.00

In [8]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
y_res_encoded = label_encoder.fit_transform(y_res)
y_res = pd.Series(y_res_encoded)
drop_columns = vif_data['feature'][vif_data['VIF'] > 5].tolist()
print(drop_columns)
X_res = df_res.drop(drop_columns,axis=1)
print(X_res.shape, y_res.shape)
y_encoded = label_encoder.fit_transform(y)
y = pd.Series(y_encoded)
X = df.drop(drop_columns,axis=1)
X.shape, y.shape

['DAYS_EMPLOYED', 'NAME_INCOME_TYPE_Pensioner', 'NAME_FAMILY_STATUS_Married']
(71739, 23) (71739,)

((36457, 23), (36457,))

In [9]:
# class EarlyStopping:
#     """Early stops the training if validation loss doesn't improve after a given patience."""
#     def __init__(self, patience=7, verbose=False, delta=0, path='checkpoint.pt'):
#         """
#         Args:
#             patience (int): How long to wait after last time validation loss improved.
#             verbose (bool): If True, prints a message for each validation loss improvement.
#             delta (float): Minimum change in the monitored quantity to qualify as an improvement.
#             path (str): Path for the checkpoint to be saved to.
#         """
#         self.patience = patience
#         self.verbose = verbose
#         self.counter = 0
#         self.best_score = None
#         self.early_stop = False
#         self.val_loss_min = float('inf')
#         self.delta = delta
#         self.path = path

#     def __call__(self, val_loss, model):
#         score = -val_loss

#         if self.best_score is None:
#             self.best_score = score
#             self.save_checkpoint(val_loss, model)
#         elif score < self.best_score + self.delta:
#             self.counter += 1
#             print(f'EarlyStopping counter: {self.counter} out of {self.patience}')
#             if self.counter >= self.patience:
#                 self.early_stop = True
#         else:
#             self.best_score = score
#             self.save_checkpoint(val_loss, model)
#             self.counter = 0

#     def save_checkpoint(self, val_loss, model):
#         '''Saves model when validation loss decrease.'''
#         if self.verbose:
#             print(f'Validation loss decreased ({self.val_loss_min:.6f} --> {val_loss:.6f}).  Saving model ...')
#         torch.save(model.state_dict(), self.path)
#         self.val_loss_min = val_loss


# import torch 
# import torch.nn as nn 
# import torch.optim as optim
# from torch.utils.data import TensorDataset, DataLoader
# from sklearn.model_selection import train_test_split
# device = (
#     "mps"
#     if torch.backends.mps.is_built()
#     else "cuda"
#     if torch.cuda.is_available()
#     else "cpu"
# )
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# X_train = torch.tensor(X_train.values,dtype=torch.float32).to(device)
# y_train = torch.tensor(y_train.values,dtype=torch.float32).to(device)
# X_test = torch.tensor(X_test.values,dtype=torch.float32).to(device)
# y_test = torch.tensor(y_test.values,dtype=torch.float32).to(device)
# train_dataset = TensorDataset(X_train, y_train)
# test_dataset = TensorDataset(X_test, y_test)
# # train_dataset, test_dataset = torch.utils.data.random_split(dataset, [int(len(dataset)*0.8), int(len(dataset)*0.2)])
# train_loader = DataLoader(train_dataset, batch_size=64, shuffle=True)
# test_loader = DataLoader(test_dataset, batch_size=64, shuffle=False)
# model = nn.Sequential(
#     nn.Linear(X_train.shape[1], 512), 
#     nn.ReLU(),
#     nn.BatchNorm1d(512),
#     nn.Linear(512, 256),
#     nn.ReLU(),
#     nn.BatchNorm1d(256),
#     nn.Linear(256, 128),
#     nn.ReLU(),
#     nn.BatchNorm1d(128),
#     nn.Linear(128, 64),
#     nn.ReLU(),
#     nn.BatchNorm1d(64),
#     nn.Linear(64, 16),
#     nn.ReLU(),
#     nn.BatchNorm1d(16),
#     nn.Linear(16,3)
#     # nn.Softmax()
# )
# model.to(device)
# weights = torch.tensor([1/19152, 1/2660, 1/7353]).to(device)
# criterion = nn.CrossEntropyLoss(weight=weights)
# optimizer = optim.Adam(model.parameters(), lr=0.001)
# early_stopping = EarlyStopping(patience=5, verbose=True)
# train_losses = []
# valid_losses = []
# epochs = 100
# for epoch in range(epochs):
#     train_loss = 0.0
#     valid_loss = 0.0
#     model.train()
#     for data, target in train_loader:
#         optimizer.zero_grad()
#         output = model(data)
#         loss = criterion(output, target.long())
#         loss.backward()
#         optimizer.step()
#         train_loss += loss.item()*data.size(0)
#     train_loss = train_loss/len(train_loader.dataset)
#     train_losses.append(train_loss)
#     model.eval()
#     for data, target in test_loader:
#         output = model(data)
#         loss = criterion(output, target.long())
#         valid_loss += loss.item()*data.size(0)
#     valid_loss = valid_loss/len(test_loader.dataset)
#     valid_losses.append(valid_loss)
#     print('Epoch: {}/{} \tTraining Loss: {:.6f} \tValidation Loss: {:.6f}'.format(epoch+1, epochs, train_loss, valid_loss))
#     # early_stopping(valid_loss, model)
#     # if early_stopping.early_stop:
#     #     print("Early stopping")
#     #     break
# import matplotlib.pyplot as plt
# plt.plot(train_losses, label='Training loss')
# plt.plot(valid_losses, label='Validation loss')
# plt.legend(frameon=False)
# plt.show()

In [10]:
# X_tensor = torch.tensor(X.values, dtype=torch.float32).to(device)
# model.eval()
# with torch.no_grad():
#     linear_outputs = model(X_tensor)
#     print(linear_outputs)

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import sklearn.metrics as metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.utils.class_weight import compute_class_weight
from sklearn.ensemble import BaggingClassifier

# X_train, X_test, y_train, y_test = train_test_split(X_res, y, test_size=0.2, random_state=42)
# class_weights = compute_class_weight('balanced', classes=np.unique(y_train), y=y_train)
# class_weight_dict = {i: weight for i, weight in enumerate(class_weights)}
model = LogisticRegression(multi_class='multinomial', solver='lbfgs', max_iter=2000)
# bagging_model = BaggingClassifier(estimator=model, n_estimators=10, random_state=42)
# Fit the model
model.fit(X_res, y_res)

# Make predictions and evaluate the model
y_pred = model.predict(X)
accuracy = accuracy_score(y, y_pred)
print(f"Accuracy: {accuracy}")

print(classification_report(y, y_pred))

# Coefficients and intercept
# print("Coefficients:", model.coef_)
# print("Intercept:", model.intercept_)

# Calculate logits

# logits = X_test @ model.coef_.T + model.intercept_
# print("Logits:", logits)

Accuracy: 0.3603697506651672
              precision    recall  f1-score   support

           0       0.66      0.39      0.49     23913
           1       0.10      0.37      0.16      3347
           2       0.26      0.28      0.27      9197

    accuracy                           0.36     36457
   macro avg       0.34      0.35      0.31     36457
weighted avg       0.51      0.36      0.40     36457

In [15]:
total_logits = X @ model.coef_.T + model.intercept_
total_logits

          0     1     2
0      0.02  0.09 -0.11
1      0.02  0.09 -0.11
2      0.10 -0.18  0.08
3      0.11 -0.08 -0.04
4      0.11 -0.08 -0.04
...     ...   ...   ...
36452  0.11 -0.05 -0.07
36453 -0.22  0.22  0.01
36454 -0.05  0.01  0.04
36455  0.05  0.04 -0.08
36456  0.02 -0.11  0.09

[36457 rows x 3 columns]

In [13]:
total_logits = X @ model.coef_.T + model.intercept_
# total_prob = np.exp(total_logits) / np.sum(np.exp(total_logits), axis=1, keepdims=True)
total_logits['credit_scores'] = total_logits.max(axis=1)
scaled_data = (total_logits['credit_scores'] - total_logits['credit_scores'].min()) / (total_logits['credit_scores'].max() - total_logits['credit_scores'].min()) * 100
total_logits["scaled_credit_scores"] = scaled_data
total_logits["ID"] = ID

total_logits = total_logits[["ID", "credit_scores", "scaled_credit_scores"]]

total_logits

            ID  credit_scores  scaled_credit_scores
0      5008804           0.09                  5.75
1      5008805           0.09                  5.75
2      5008806           0.10                  6.23
3      5008808           0.11                  7.16
4      5008809           0.11                  7.16
...        ...            ...                   ...
36452  5149828           0.11                  7.15
36453  5149834           0.22                 13.87
36454  5149838           0.04                  2.54
36455  5150049           0.05                  2.87
36456  5150337           0.09                  5.55

[36457 rows x 3 columns]

In [14]:
# total_logits.to_csv("../data/credit_scores_Logistic.csv", index=False)