In [149]:
import pandas as pd 
import numpy as np

df = pd.read_csv('../data/final_df_2.csv')
df.drop(['ID','workclass'], axis=1, inplace=True)
df

,NAME_EDUCATION_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_FAMILY_STATUS,DAYS_EMPLOYED,age,occupation,capital,hours-per-week,credit_decision
0,Higher education,M,Y,Y,427500.00,Working,Civil marriage,-4542,36.33,Adm-clerical,509.39,39.45,1
1,Higher education,M,Y,Y,427500.00,Working,Civil marriage,-4542,36.33,Craft-repair,509.39,39.45,1
2,Secondary / secondary special,M,Y,Y,112500.00,Working,Married,-1134,38.14,Craft-repair,440.54,39.55,-1
3,Secondary / secondary special,F,N,Y,270000.00,Commercial associate,Single / not married,-3051,38.14,Adm-clerical,440.54,39.55,-1
4,Secondary / secondary special,F,N,Y,270000.00,Commercial associate,Single / not married,-3051,38.14,Craft-repair,440.54,39.55,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,Secondary / secondary special,M,Y,Y,315000.00,Working,Married,-2420,38.14,Sales,440.54,39.55,-1
36453,Higher education,F,N,Y,157500.00,Commercial associate,Married,-1325,36.33,Adm-clerical,509.39,39.45,-1
36454,Higher education,F,N,Y,157500.00,Pensioner,Married,-1325,36.33,Exec-managerial,509.39,39.45,-1
36455,Secondary / secondary special,F,N,Y,283500.00,Working,Married,-655,38.14,Craft-repair,440.54,39.55,-1
36456,Secondary / secondary special,M,N,Y,112500.00,Working,Single / not married,-1193,38.14,Craft-repair,440.54,39.55,-1

In [150]:
df.describe()

,AMT_INCOME_TOTAL,DAYS_EMPLOYED,age,capital,hours-per-week,credit_decision
count,36457.00,36457.00,36457.00,36457.00,36457.00,36457.00
mean,186685.74,59262.94,37.74,458.93,39.52,-0.40
std,101789.23,137651.33,1.25,75.06,0.14,0.86
min,27000.00,-15713.00,36.33,228.91,38.74,-1.00
25%,121500.00,-3153.00,36.33,440.54,39.45,-1.00
50%,157500.00,-1552.00,38.14,440.54,39.55,-1.00
75%,225000.00,-408.00,38.14,509.39,39.55,1.00
max,1575000.00,365243.00,47.08,2635.63,43.30,1.00

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36457 entries, 0 to 36456
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAME_EDUCATION_TYPE  36457 non-null  object
 1   CODE_GENDER          36457 non-null  object
 2   FLAG_OWN_CAR         36457 non-null  object
 3   FLAG_OWN_REALTY      36457 non-null  object
 4   AMT_INCOME_TOTAL     36457 non-null  float64
 5   NAME_INCOME_TYPE     36457 non-null  object
 6   NAME_FAMILY_STATUS   36457 non-null  object
 7   DAYS_EMPLOYED        36457 non-null  int64
 8   age                  36457 non-null  float64
 9   occupation           36457 non-null  object
 10  capital              36457 non-null  float64
 11  hours-per-week       36457 non-null  float64
 12  credit_decision      36457 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 3.6+ MB

In [152]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
y = df['credit_decision']
df.drop(['credit_decision'],axis=1,inplace=True)
for col in df.columns:
    if df[col].dtype != 'object':
        df[col] = scaler.fit_transform(df[[col]])
    else:
        df_dummy = pd.get_dummies(df[col],drop_first=True,prefix=col).astype(int)
        df = pd.concat([df,df_dummy],axis=1)
        df.drop(col,axis=1,inplace=True)
df

,AMT_INCOME_TOTAL,DAYS_EMPLOYED,age,capital,hours-per-week,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,CODE_GENDER_M,FLAG_OWN_CAR_Y,...,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Single / not married,NAME_FAMILY_STATUS_Widow,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Machine-op-inspct,occupation_Other-service,occupation_Prof-specialty,occupation_Sales
0,2.37,-0.46,-1.13,0.67,-0.46,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2.37,-0.46,-1.13,0.67,-0.46,1,0,0,1,1,...,0,0,0,1,0,0,0,0,0,0
2,-0.73,-0.44,0.32,-0.24,0.22,0,0,1,1,1,...,0,0,0,1,0,0,0,0,0,0
3,0.82,-0.45,0.32,-0.24,0.22,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0.82,-0.45,0.32,-0.24,0.22,0,0,1,0,0,...,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,1.26,-0.45,0.32,-0.24,0.22,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
36453,-0.29,-0.44,-1.13,0.67,-0.46,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36454,-0.29,-0.44,-1.13,0.67,-0.46,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
36455,0.95,-0.44,0.32,-0.24,0.22,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
36456,-0.73,-0.44,0.32,-0.24,0.22,0,0,1,1,0,...,0,1,0,1,0,0,0,0,0,0

In [153]:
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

# 创建随机欠采样器
ros = RandomOverSampler(random_state=42)

# 重采样
df, y = ros.fit_resample(df, y)
df.shape, y.shape

((71739, 26), (71739,))

In [154]:
# Colinearity check
pd.set_option('display.float_format', '{:.2f}'.format)
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif_data = pd.DataFrame()
df_filtered = df.filter(regex='^(?!NAME_EDUCATION_TYPE).*$')
vif_data["feature"] = df_filtered.columns
vif_data["VIF"] = [variance_inflation_factor(df_filtered.values, i)
                          for i in range(len(df_filtered.columns))]
vif_data.sort_values(by="VIF", ascending=False)

                                    feature   VIF
8                NAME_INCOME_TYPE_Pensioner 96.10
1                             DAYS_EMPLOYED 84.34
12               NAME_FAMILY_STATUS_Married  8.61
3                                   capital  4.57
4                            hours-per-week  3.82
11                 NAME_INCOME_TYPE_Working  3.25
7                         FLAG_OWN_REALTY_Y  3.01
14  NAME_FAMILY_STATUS_Single / not married  2.41
16                  occupation_Craft-repair  2.32
2                                       age  2.23
20                 occupation_Other-service  1.99
6                            FLAG_OWN_CAR_Y  1.97
5                             CODE_GENDER_M  1.83
22                         occupation_Sales  1.82
13             NAME_FAMILY_STATUS_Separated  1.64
21                occupation_Prof-specialty  1.62
15                 NAME_FAMILY_STATUS_Widow  1.52
19             occupation_Machine-op-inspct  1.51
17               occupation_Exec-managerial  1.41
18               occupation_Farming-fishing  1.40
9            NAME_INCOME_TYPE_State servant  1.35
0                          AMT_INCOME_TOTAL  1.16
10                 NAME_INCOME_TYPE_Student  1.00

In [155]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)
y = pd.Series(y_encoded)
drop_columns = vif_data['feature'][vif_data['VIF'] > 5].tolist()
print(drop_columns)
X = df.drop(drop_columns,axis=1)
X.shape, y.shape

['DAYS_EMPLOYED', 'NAME_INCOME_TYPE_Pensioner', 'NAME_FAMILY_STATUS_Married']

((71739, 23), (71739,))

In [156]:
# class EarlyStopping:
#     """Early stops the training if validation loss doesn't improve after a given patience."""
#     def __init__(self, patience=7, verbose=False, delta=0, path='checkpoint.pt'):
#         """
#         Args:
#             patience (int): How long to wait after last time validation loss improved.
#             verbose (bool): If True, prints a message for each validation loss improvement.
#             delta (float): Minimum change in the monitored quantity to qualify as an improvement.
#             path (str): Path for the checkpoint to be saved to.
#         """
#         self.patience = patience
#         self.verbose = verbose
#         self.counter = 0
#         self.best_score = None
#         self.early_stop = False
#         self.val_loss_min = float('inf')
#         self.delta = delta
#         self.path = path

#     def __call__(self, val_loss, model):
#         score = -val_loss

#         if self.best_score is None:
#             self.best_score = score
#             self.save_checkpoint(val_loss, model)
#         elif score < self.best_score + self.delta:
#             self.counter += 1
#             print(f'EarlyStopping counter: {self.counter} out of {self.patience}')
#             if self.counter >= self.patience:
#                 self.early_stop = True
#         else:
#             self.best_score = score
#             self.save_checkpoint(val_loss, model)
#             self.counter = 0

#     def save_checkpoint(self, val_loss, model):
#         '''Saves model when validation loss decrease.'''
#         if self.verbose:
#             print(f'Validation loss decreased ({self.val_loss_min:.6f} --> {val_loss:.6f}).  Saving model ...')
#         torch.save(model.state_dict(), self.path)
#         self.val_loss_min = val_loss


# import torch 
# import torch.nn as nn 
# import torch.optim as optim
# from torch.utils.data import TensorDataset, DataLoader
# from sklearn.model_selection import train_test_split
# device = (
#     "mps"
#     if torch.backends.mps.is_built()
#     else "cuda"
#     if torch.cuda.is_available()
#     else "cpu"
# )
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# X_train = torch.tensor(X_train.values,dtype=torch.float32).to(device)
# y_train = torch.tensor(y_train.values,dtype=torch.float32).to(device)
# X_test = torch.tensor(X_test.values,dtype=torch.float32).to(device)
# y_test = torch.tensor(y_test.values,dtype=torch.float32).to(device)
# train_dataset = TensorDataset(X_train, y_train)
# test_dataset = TensorDataset(X_test, y_test)
# # train_dataset, test_dataset = torch.utils.data.random_split(dataset, [int(len(dataset)*0.8), int(len(dataset)*0.2)])
# train_loader = DataLoader(train_dataset, batch_size=64, shuffle=True)
# test_loader = DataLoader(test_dataset, batch_size=64, shuffle=False)
# model = nn.Sequential(
#     nn.Linear(X_train.shape[1], 512), 
#     nn.ReLU(),
#     nn.BatchNorm1d(512),
#     nn.Linear(512, 256),
#     nn.ReLU(),
#     nn.BatchNorm1d(256),
#     nn.Linear(256, 128),
#     nn.ReLU(),
#     nn.BatchNorm1d(128),
#     nn.Linear(128, 64),
#     nn.ReLU(),
#     nn.BatchNorm1d(64),
#     nn.Linear(64, 16),
#     nn.ReLU(),
#     nn.BatchNorm1d(16),
#     nn.Linear(16,3)
#     # nn.Softmax()
# )
# model.to(device)
# weights = torch.tensor([1/19152, 1/2660, 1/7353]).to(device)
# criterion = nn.CrossEntropyLoss(weight=weights)
# optimizer = optim.Adam(model.parameters(), lr=0.001)
# early_stopping = EarlyStopping(patience=5, verbose=True)
# train_losses = []
# valid_losses = []
# epochs = 100
# for epoch in range(epochs):
#     train_loss = 0.0
#     valid_loss = 0.0
#     model.train()
#     for data, target in train_loader:
#         optimizer.zero_grad()
#         output = model(data)
#         loss = criterion(output, target.long())
#         loss.backward()
#         optimizer.step()
#         train_loss += loss.item()*data.size(0)
#     train_loss = train_loss/len(train_loader.dataset)
#     train_losses.append(train_loss)
#     model.eval()
#     for data, target in test_loader:
#         output = model(data)
#         loss = criterion(output, target.long())
#         valid_loss += loss.item()*data.size(0)
#     valid_loss = valid_loss/len(test_loader.dataset)
#     valid_losses.append(valid_loss)
#     print('Epoch: {}/{} \tTraining Loss: {:.6f} \tValidation Loss: {:.6f}'.format(epoch+1, epochs, train_loss, valid_loss))
#     # early_stopping(valid_loss, model)
#     # if early_stopping.early_stop:
#     #     print("Early stopping")
#     #     break
# import matplotlib.pyplot as plt
# plt.plot(train_losses, label='Training loss')
# plt.plot(valid_losses, label='Validation loss')
# plt.legend(frameon=False)
# plt.show()

In [157]:
# X_tensor = torch.tensor(X.values, dtype=torch.float32).to(device)
# model.eval()
# with torch.no_grad():
#     linear_outputs = model(X_tensor)
#     print(linear_outputs)

In [162]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import sklearn.metrics as metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.utils.class_weight import compute_class_weight
from sklearn.ensemble import BaggingClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# class_weights = compute_class_weight('balanced', classes=np.unique(y_train), y=y_train)
# class_weight_dict = {i: weight for i, weight in enumerate(class_weights)}
model = LogisticRegression(multi_class='multinomial', solver='lbfgs', max_iter=2000)
bagging_model = BaggingClassifier(estimator=model, n_estimators=10, random_state=42)
# Fit the model
bagging_model.fit(X_train, y_train)

# Make predictions and evaluate the model
y_pred = bagging_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

print(classification_report(y_test, y_pred))

# Coefficients and intercept
# print("Coefficients:", model.coef_)
# print("Intercept:", model.intercept_)

# Calculate logits

# logits = X_test @ model.coef_.T + model.intercept_
# print("Logits:", logits)

Accuracy: 0.3570532478394201
              precision    recall  f1-score   support

           0       0.35      0.40      0.38      4796
           1       0.36      0.32      0.34      4816
           2       0.36      0.35      0.35      4736

    accuracy                           0.36     14348
   macro avg       0.36      0.36      0.36     14348
weighted avg       0.36      0.36      0.36     14348