In [18]:
import pandas as pd 
import numpy as np

df = pd.read_csv('../data/final_df.csv')
df.drop('workclass', axis=1, inplace=True)
df

,ID,NAME_EDUCATION_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_FAMILY_STATUS,DAYS_EMPLOYED,credit_decision,age,occupation,capital,hours-per-week
0,5008804,Higher education,M,Y,Y,427500.0,Working,Civil marriage,-4542,1,36.332433,Adm-clerical,509.390789,39.454320
1,5008805,Higher education,M,Y,Y,427500.0,Working,Civil marriage,-4542,1,36.332433,Adm-clerical,509.390789,39.454320
2,5008806,Secondary / secondary special,M,Y,Y,112500.0,Working,Married,-1134,-1,38.135474,Craft-repair,440.541682,39.552563
3,5008808,Secondary / secondary special,F,N,Y,270000.0,Commercial associate,Single / not married,-3051,-1,38.135474,Craft-repair,440.541682,39.552563
4,5008809,Secondary / secondary special,F,N,Y,270000.0,Commercial associate,Single / not married,-3051,0,38.135474,Craft-repair,440.541682,39.552563
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,5149828,Secondary / secondary special,M,Y,Y,315000.0,Working,Married,-2420,-1,38.135474,Craft-repair,440.541682,39.552563
36453,5149834,Higher education,F,N,Y,157500.0,Commercial associate,Married,-1325,-1,36.332433,Adm-clerical,509.390789,39.454320
36454,5149838,Higher education,F,N,Y,157500.0,Pensioner,Married,-1325,-1,36.332433,Adm-clerical,509.390789,39.454320
36455,5150049,Secondary / secondary special,F,N,Y,283500.0,Working,Married,-655,-1,38.135474,Craft-repair,440.541682,39.552563
36456,5150337,Secondary / secondary special,M,N,Y,112500.0,Working,Single / not married,-1193,-1,38.135474,Craft-repair,440.541682,39.552563

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36457 entries, 0 to 36456
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   36457 non-null  int64
 1   NAME_EDUCATION_TYPE  36457 non-null  object
 2   CODE_GENDER          36457 non-null  object
 3   FLAG_OWN_CAR         36457 non-null  object
 4   FLAG_OWN_REALTY      36457 non-null  object
 5   AMT_INCOME_TOTAL     36457 non-null  float64
 6   NAME_INCOME_TYPE     36457 non-null  object
 7   NAME_FAMILY_STATUS   36457 non-null  object
 8   DAYS_EMPLOYED        36457 non-null  int64
 9   credit_decision      36457 non-null  int64
 10  age                  36457 non-null  float64
 11  occupation           36457 non-null  object
 12  capital              36457 non-null  float64
 13  hours-per-week       36457 non-null  float64
dtypes: float64(4), int64(3), object(7)
memory usage: 3.9+ MB

In [20]:
for col in df.columns:
    if df[col].dtype == 'object':
        print(col,': ',df[col].unique())

NAME_EDUCATION_TYPE :  ['Higher education' 'Secondary / secondary special' 'Lower secondary'
 'Academic degree']
CODE_GENDER :  ['M' 'F']
FLAG_OWN_CAR :  ['Y' 'N']
FLAG_OWN_REALTY :  ['Y' 'N']
NAME_INCOME_TYPE :  ['Working' 'Commercial associate' 'Pensioner' 'State servant' 'Student']
NAME_FAMILY_STATUS :  ['Civil marriage' 'Married' 'Single / not married' 'Separated' 'Widow']
occupation :  ['Adm-clerical' 'Craft-repair' 'Other-service' 'Prof-specialty']

In [21]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
y = df['credit_decision']
df.drop(['credit_decision','ID'],axis=1,inplace=True)
for col in df.columns:
    if df[col].dtype != 'object':
        df[col] = scaler.fit_transform(df[[col]])
    else:
        df_dummy = pd.get_dummies(df[col],drop_first=True).astype(int)
        df = pd.concat([df,df_dummy],axis=1)
        df.drop(col,axis=1,inplace=True)
df

,AMT_INCOME_TOTAL,DAYS_EMPLOYED,age,capital,hours-per-week,Higher education,Lower secondary,Secondary / secondary special,M,Y,...,State servant,Student,Working,Married,Separated,Single / not married,Widow,Craft-repair,Other-service,Prof-specialty
0,2.365845,-0.463532,-1.131061,0.672369,-0.462054,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
1,2.365845,-0.463532,-1.131061,0.672369,-0.462054,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
2,-0.728827,-0.438774,0.315873,-0.244936,0.219806,0,0,1,1,1,...,0,0,1,1,0,0,0,1,0,0
3,0.818509,-0.452700,0.315873,-0.244936,0.219806,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
4,0.818509,-0.452700,0.315873,-0.244936,0.219806,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,1.260605,-0.448116,0.315873,-0.244936,0.219806,0,0,1,1,1,...,0,0,1,1,0,0,0,1,0,0
36453,-0.286731,-0.440161,-1.131061,0.672369,-0.462054,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
36454,-0.286731,-0.440161,-1.131061,0.672369,-0.462054,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
36455,0.951138,-0.435294,0.315873,-0.244936,0.219806,0,0,1,0,0,...,0,0,1,1,0,0,0,1,0,0
36456,-0.728827,-0.439202,0.315873,-0.244936,0.219806,0,0,1,1,0,...,0,0,1,0,0,1,0,1,0,0

In [23]:
# Colinearity check
pd.set_option('display.float_format', '{:.2f}'.format)
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif_data = pd.DataFrame()
vif_data["feature"] = df.columns
vif_data["VIF"] = [variance_inflation_factor(df.values, i)
                          for i in range(len(df.columns))]
vif_data.sort_values(by="VIF", ascending=False)

                          feature            VIF
20                  Other-service 65215213805.46
6                 Lower secondary 21273749701.20
5                Higher education  9550923795.49
21                 Prof-specialty  3163087773.57
4                  hours-per-week   153195145.22
3                         capital    72228389.91
2                             age    14474965.52
7   Secondary / secondary special       58201.61
19                   Craft-repair       14000.33
1                   DAYS_EMPLOYED         281.86
11                      Pensioner         281.66
15                        Married           3.00
17           Single / not married           2.30
16                      Separated           1.62
14                        Working           1.61
18                          Widow           1.52
12                  State servant           1.25
8                               M           1.22
9                               Y           1.21
0                AMT_INCOME_TOTAL           1.16
10                              Y           1.01
13                        Student           1.00